<header class="header bg-white p-2">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Argos Turismo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#headerButtons"
              aria-controls="headerButtons" aria-expanded="false" aria-label="Abrir/Cerrar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-flex-end" id="headerButtons">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#" aria-current="page">Artículos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Eventos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
