<div class="bg-white rounded p-3 shadow-sm sticky-top sidebar">
  <div class="d-flex flex-column">
    <p class="h4 mb-3">Índice</p>
    <ol reversed="reversed">
      <li class="mb-1"><a href="#spot5">Ciudad de México</a></li>
      <li class="mb-1"><a href="#spot4">Santiago, Chile </a></li>
      <li class="mb-1"><a href="#spot3">San José, Costa Rica </a></li>
      <li class="mb-1"><a href="#spot2">Machu Picchu, Perú</a></li>
      <li class="mb-1"><a href="#spot1">Río de Janeiro, Brasil</a></li>
    </ol>
  </div>
</div>
