<div
  class="bg-white rounded p-3 shadow-sm">
  <div class="d-flex flex-column">
    <p class="h3 mb-1">Top 5 destinos turísticos más populares de América Latina</p>
    <hr class="separator">
    <div class="py-2" id="spot5">
      <p class="h4 mb-4">5 - Ciudad de México</p>
      <img class="image mb-3 mw-100" alt="Imagen panorámica de Ciudad de México"
           src="https://media.revistaad.es/photos/625fd00cac77a7af4bdef1a2/16:9/w_2560%2Cc_limit/GettyImages-638920569.jpg">
      <p class="pe-2">Gracias a su naturaleza cosmopolita, infinitos realces históricos, vasta oferta cultural,
        gastronómica y de
        entretenimiento, prevalecerá como un polo de atracción para viajeros de diferentes puntos del país y del mundo.
        La megalópolis mexicana continuará haciendo gala de su grandeza humana. Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Adipisci, assumenda error molestias non placeat quidem quos recusandae? Fugit incidunt optio
        sequi veniam! Ea earum iste itaque nostrum ratione sed sint. Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Iusto, possimus sit. Adipisci consequatur dolorem doloremque ex fugit ipsa laudantium non odio pariatur
        placeat quis quisquam reprehenderit sed sint, totam veritatis?</p>
    </div>
    <hr class="separator">
    <div class="py-2" id="spot4">
      <p class="h4 mb-4">4 - Santiago, Chile</p>
      <img class="image mb-3 mw-100" alt="Imagen panorámica de Santiago"
           src="https://storage.googleapis.com/chile-travel-newsite-static-content/2021/08/santiago-portada.jpg">
      <p class="pe-2">La diversidad de panoramas que ofrece la multifacética capital chilena inspira a la aventura y al
        deleite por
        igual. Tras un corto trayecto en carretera, es posible descubrir los emblemáticos valles vinícolas, observar el
        horizonte en playas como la de Viña del Mar o Reñaca y, sí es invierno, esquiar en algunas de las mejores pistas
        de Sudamérica. Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Adipisci, assumenda error molestias non placeat quidem quos recusandae? Fugit incidunt optio
        sequi veniam! Ea earum iste itaque nostrum ratione sed sint. Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Iusto, possimus sit. Adipisci consequatur dolorem doloremque ex fugit ipsa laudantium non odio pariatur
        placeat quis quisquam reprehenderit sed sint, totam veritatis?</p>
    </div>

    <hr class="separator">
    <div class="py-2" id="spot3">
      <p class="h4 mb-4">3 - San José, Costa Rica</p>
      <img class="image mb-3 mw-100" alt="Imagen panorámica de San José"
           src="https://cdn.getyourguide.com/img/location/5e6a1a4570c88.jpeg/99.jpg">
      <p class="pe-2">Colmada de sitios de interés, rostros y colores que reflejan la historia de un pueblo, la capital
        costarricense es punto de partida para emprender travesías que afianzan los lazos con la naturaleza en uno de
        los países con la mayor biodiversidad del mundo. Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Adipisci, assumenda error molestias non placeat quidem quos recusandae? Fugit incidunt optio
        sequi veniam! Ea earum iste itaque nostrum ratione sed sint. Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Iusto, possimus sit. Adipisci consequatur dolorem doloremque ex fugit ipsa laudantium non odio pariatur
        placeat quis quisquam reprehenderit sed sint, totam veritatis?</p>
    </div>

    <hr class="separator">
    <div class="py-2" id="spot2">
      <p class="h4 mb-4">2- Machu Picchu, Perú</p>
      <img class="image mb-3 mw-100" alt="Imagen panorámica de Machu Picchu"
           src="https://www.peru.travel/Contenido/Atractivo/Imagen/pe/145/1.4/Principal/Machu%20Picchu.jpg">
      <p class="pe-2">El asombroso santuario histórico inca, Patrimonio Cultural y Natural de la Humanidad, se alista
        para obtener la certificación mundial Green Initiative y convertirse así, en el primer destino turístico libre
        de emisiones de carbono a escala global. Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Adipisci, assumenda error molestias non placeat quidem quos recusandae? Fugit incidunt optio
        sequi veniam! Ea earum iste itaque nostrum ratione sed sint. Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Iusto, possimus sit. Adipisci consequatur dolorem doloremque ex fugit ipsa laudantium non odio pariatur
        placeat quis quisquam reprehenderit sed sint, totam veritatis?</p>
    </div>

    <hr class="separator">
    <div class="py-2" id="spot1">
      <p class="h4 mb-4">1 - Río de Janeiro, Brasil</p>
      <img class="image mb-3 mw-100" alt="Imagen panorámica de Rio de Janerio"
           src="https://cdn.getyourguide.com/img/location/53341a461c85b.jpeg/99.jpg">
      <p class="pe-2">El Cristo Redentor y las Playas de Ipanema la han consolidado como una de las ciudades más
        visitadas de Latinoamérica. Los matices que ofrece, sin embargo, son infinitos. Diversas sendas, caminos
        pintorescos y miradores permiten contemplar desde lo alto su exuberante riqueza natural y cultural. Lorem ipsum
        dolor sit amet, consectetur
        adipisicing elit. Adipisci, assumenda error molestias non placeat quidem quos recusandae? Fugit incidunt optio
        sequi veniam! Ea earum iste itaque nostrum ratione sed sint. Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Iusto, possimus sit. Adipisci consequatur dolorem doloremque ex fugit ipsa laudantium non odio pariatur
        placeat quis quisquam reprehenderit sed sint, totam veritatis?</p>
    </div>

  </div>
</div>
